*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 300;
  font-size: 2.4rem;
}

section {
  background-color: black;
  color: white;
}

button {
  background-color: blue;
  color: white;
  padding: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  transform: scale(1.2);
  letter-spacing: 3px;
  color: white;
}
