*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  background-color: black;
  color: white;
}

button {
  background-color: blue;
  color: white;
  padding: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  transform: scale(1.2);
}
